<div class="title">
  <h1><%= @organization.name %> / Billing</h1>
</div>

<div class="outer-container">
  <%= render partial: "organization_account/sidebar" %>

  <div class="page">
    <fieldset>
      <legend>Subscription Plan</legend>
      <div class="current-subscription-plan">
        <% if @subscription %>
          <%= render partial: "subscription_plans/subscription_plan", locals: { subscription_plan: @subscription.plan, url: new_organization_account_organization_subscription_path(@organization) }  %>
        <% else %>
          <div class="subscription-plan">
            <%= link_to new_organization_account_organization_subscription_path(@organization) do %>
              <span class="name">
                No Plan
              </span>

              <span class="price">
                <span class="currency"><%= number_to_currency(0) %></span> / month
              </span>

              <span class="note">
                Not subscribed to a single user plan
              </span>
            <% end %>
          </div>
        <% end %>
        <%= link_to "Change Plan", new_organization_account_organization_subscription_path(@organization) %>
      </div>

      <div class="current-subscription">
        <table>
          <thead>
            <tr>
              <th colspan="2">
                <i class="fa fa-credit-card"></i>
                Payment Method
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Credit Card:</td>
              <td>Visa ***4212</td>
            </tr>
            <tr>
              <td>Expiration:</td>
              <td>10/2017</td>
            </tr>
            <tr>
              <td>Next payment:</td>
              <td>
                <% if @subscription %>
                  <%= local_time(@subscription.current_period_end, "%B %e, %Y") %>
                <% else %>
                  --
                <% end %>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="2">
                <%= link_to "Update Payment Method", organization_account_organization_stripe_cards_path(@organization) %>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </fieldset>

    <fieldset class="payment-history">
      <legend>Payment History</legend>

      <table class="default">
        <thead>
          <tr>
            <th>Invoice #</th>
            <th>Date</th>
            <th>Plan</th>
            <th>Payment Method</th>
            <th>Amount</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <% @invoices.each do |invoice| %>
            <tr>
              <td><%= link_to invoice %></td>
              <td>2014-09-12</td>
              <td>Value</td>
              <td>Visa ***412</td>
              <td>$9.00</td>
              <td>Success</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </fieldset>
  </div>
</div>
