<div class="title">
  <h1>Organizations</h1>
</div>

<div class="outer-container">
  <div class="sidebar">
    <ul>
      <li class="name">
        <%= current_user.display_name %>
      </li>
      <li><%= link_to "Account Settings", edit_current_user_path %></li>
      <li><%= link_to "Billing", edit_current_user_path %></li>
      <li><%= link_to "Notification Settings" %></li>
      <li class="active"><%= link_to "Organizations", current_user_organization_memberships_path %></li>
    </ul>
  </div>

  <div class="page">
    <table>
      <thead>
        <tr>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        <% @organization_memberships.each do |membership| %>
          <tr>
            <td>Name</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
