<% unless @user.errors.count == 0 %>
  <div id="error_explanation">
    <i class="fa fa-times"></i>
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited the form from being submitted:</h2>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="title">
  <h1>Account Settings</h1>
</div>

<div class="outer-container">
  <div class="sidebar">
    <ul>
      <li class="name">
        <%= current_user.display_name %>
      </li>
      <li class="active"><%= link_to "Account Settings", edit_current_user_path %></li>
      <li><%= link_to "Billing", edit_current_user_path %></li>
      <li><%= link_to "Notification Settings" %></li>
      <li><%= link_to "Organizations", current_user_organization_memberships_path %></li>
    </ul>
  </div>

  <div class="page">
    <%= form_for @user, url: current_user_path do |f| %>
      <fieldset>
        <legend>Profile</legend>
        <div>
          <%= f.label :name %><br>
          <%= f.text_field :name %>
        </div>

        <div>
          <%= f.label :email, "Email Address" %><br>
          <%= f.email_field :email %>
        </div>

        <div class="submit">
          <%= f.submit "Save Profile" %>
        </div>
      </fieldset>
    <% end %>

    <%= form_for @user, url: current_user_path do |f| %>
      <fieldset>
        <legend>Change Password</legend>
        <div>
          <%= f.label :old_password, "Old Password" %><br>
          <%= f.password_field :old_password %>
        </div>

        <div>
          <%= f.label :password, "New Password" %><br>
          <%= f.password_field :password %>
        </div>

        <div>
          <%= f.label :password_confirmation, "Confirm Password" %><br>
          <%= f.password_field :password_confirmation %>
        </div>

        <div class="submit">
          <%= f.submit "Update Password" %>
        </div>
      </fieldset>
    <% end %>
  </div>
</div>
