<div class="sidebar">
  <ul>
    <li class="title">
      <%= link_to current_user.display_name, edit_user_account_user_path %>
    </li>
    <% current_user.organizations.ordered_by_name.each do |organization| %>
      <li class="organization<%= @organization == organization ? " selected" : "" %>">
        <%= link_to organization.name, edit_organization_account_organization_path(organization) %>
      </li>
      <% if @organization == organization %>
        <li class="account-settings<%= current_page?(edit_organization_account_organization_path(organization)) ? " active" : "" %>">
          <%= link_to "Organization Account", edit_organization_account_organization_path(organization) %>
        </li>
        <li class="billing<%= current_page?(edit_organization_account_organization_subscription_path(organization)) ? " active" : "" %>">
          <%= link_to "Billing", edit_organization_account_organization_subscription_path(organization) %>
        </li>
        <li class="users<%= current_page?(organization_account_organization_organization_memberships_path(organization)) ? " active" : "" %>">
          <%= link_to "Users", organization_account_organization_organization_memberships_path(organization) %>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
